@use "sass:map";
@use "../../global" as *;

.c-more-link {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: rem(3);
  color: $text;
  font-family: $font-sub;
  @include f_around(22, 28, map.get($font-weights, "medium"), 10);

  @include mq(md) {
    gap: rem(9);
  }
}

.c-more-link:hover {
  opacity: 1;
}

.c-more-link--white {
  color: $white;
}

.c-more-link__text {
  display: inline-block;
  white-space: nowrap;
  transition: opacity 0.3s;
}

.c-more-link__icon {
  flex-shrink: 0;
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url("../images/icons/icon-arrow-circle-navy.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: rem(30) rem(30);
  transition: transform 0.3s ease;

  @include mq(md) {
    background-size: rem(42) rem(42);
  }
}

@media (hover: hover) and (pointer: fine) {
  .c-more-link:hover .c-more-link__icon {
    transform: scale(1.3333);
  }

  .c-more-link:hover .c-more-link__text {
    opacity: $hover-opacity;
  }
}

.c-more-link--white .c-more-link__icon {
  background-image: url("../images/icons/icon-arrow-circle-white.svg");
}
