@use "sass:map";
@use "../../global" as *;

.c-section-heading {
  display: grid;
  align-content: start;
}

.c-section-heading__title {
  font-family: $font-sub;
  color: $main;
  @include f_around(28, 33, map.get($font-weights, "medium"));

  @include mq(md) {
    @include f_around(60, false, map.get($font-weights, "medium"));
  }
}

.c-section-heading__sub {
  font-family: $font-main;
  color: $text;
  position: relative;
  margin-top: rem(1);
  padding-left: rem(29);
  @include f_around(13, false, map.get($font-weights, "bold"), 6);

  @include mq(md) {
    margin-top: rem(-10);
    padding-left: rem(50);
    @include f_around(16, false, map.get($font-weights, "bold"), 6);
  }
}

.c-section-heading__sub::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: rem(3);
  width: rem(16);
  height: rem(4);
  background: $section-heading-marker-background;
  transform: translateY(-50%);

  @include mq(md) {
    width: rem(32);
    top: calc(50% + 2px);
    left: rem(8);
  }
}

.c-section-heading--white .c-section-heading__title,
.c-section-heading--white .c-section-heading__sub {
  color: $white;
}

.c-section-heading--white .c-section-heading__sub::before {
  background: linear-gradient(90deg, $accent-blue 0 50%, $white 50% 100%);
}
