@use "sass:map";
@use "../../global" as *;

.p-concept {
  padding: rem(94) 0 rem(100);
  background-size: 200% 200%;

  @include mq(md) {
    padding: rem(105) 0 rem(60);
  }
}

.p-concept.is-active {
  animation: gradientMove 8s ease infinite;
}

.p-concept__inner {
  position: relative;
  width: 100%;
  height:auto;
  margin-inline: auto;

  @include mq(md) {
    max-width: rem(1090);
  }
}

.p-concept__mark {
  position: absolute;
  top: rem(-14);
  left: rem(16);
  width: rem(17);
  height: rem(17);
  display: block;
  object-fit: contain;

  @include mq(md) {
    width: rem(50);
    height: rem(50);
    top: rem(5);
    left: rem(-60);
  }
}

.p-concept__mark--bottom {
  top: auto;
  right: rem(15);
  bottom: rem(-25);
  left: auto;
  transform: scale(-1);
  transform-origin: center;

  @include mq(md) {
    right:rem(-74);
    bottom:rem(-15);
  }
}

.p-concept__content {
  width: min(100%, rem(650));
  margin-inline: auto;
  text-align: center;

  @include mq(md) {
    width: min(100%, rem(800));
    padding-top: rem(30);
    margin-inline: auto;
  }
}

.p-concept__title {
  font-family: $font-main;
  color: $text;
  @include f_around(20, 36, map.get($font-weights, "black"), 6);

  @include mq(md) {
    @include f_around(34, 54, map.get($font-weights, "extrabold"), 10);
  }
}

.p-concept__title-text {
  display: inline;

  @include mq(md) {
    margin-left:rem(35);
  }
}

.p-concept__title-plain {
  display: inline-block;

  @include mq(md) {
    margin-left:rem(-13);
  }
}

.p-concept__title-sub {
  display: block;
  margin-top: rem(2);
}

.p-concept__title-sub::after {
  display: block;
  width: min(100%, rem(327));
  margin: rem(16) auto 0;
  border-top: rem(1) solid $accent-blue;
  content: "";

  @include mq(md) {
    width: min(100%, rem(804));
    margin-top:rem(12);
    margin-left:rem(8);
  }
}

.p-concept__title-highlight {
  display: inline-block;
  width: fit-content;
  padding-inline: rem(13);
  color: $white;
  background: linear-gradient(
    90deg,
    $sub 0%,
    $main 54%,
    $accent-light-blue 100%
  );
  @include f_around(20, 30, map.get($font-weights, "black"), 6);

  @include mq(md) {
    margin-top:rem(-1);
    margin-left:rem(17);
    padding-inline: rem(16);
    @include f_around(34, 52, map.get($font-weights, "extrabold"), 10);
  }
}

.p-concept__text {
  margin-top: rem(11);
  text-align: left;
  @include f_around(16, 28, map.get($font-weights, "medium"), 10);

  @include mq(md) {
    margin-top:rem(20);
    padding-left:rem(32);
    padding-right:rem(15);
    @include f_around(14, 24, map.get($font-weights, "medium"), 10);
  }
}

.p-concept__picture {
  display: block;
  width: 100%;
  margin: rem(20) auto 0;
  filter: drop-shadow(rem(0) rem(3) rem(10) $surface-shadow);

  @include mq(md) {
    margin-top: rem(31);
    margin-left:rem(3);
    filter: drop-shadow(rem(0) rem(4) rem(4) rgba($works-card-shadow, 0.44));
  }
}

.p-concept__image {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 335 / 211;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 1023/425;
  }
}

@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
